= javascript_include_tag "third_party/jquery.lightbox-0.5.min"
= javascript_include_tag "pictures"
= stylesheet_link_tag "jquery.lightbox-0.5"

#pictures
  %span#breadcrumb
    = link_to "Back To Gallery", gallery_path

  %table#pictures
    %caption= @title
    - @pictures.each do |pics|
      %tr
        = render :partial => 'picture', :collection => pics, :as => :picture