#contact
  %p
    Whether you would like a quote on a cake or want to comment on a previous purchase, we'd love to hear from you.
    %br
    Just fill out and submit the below form and, if you provide contact information, we'll get back to you.

  = form_for :contact_form, :url => contact_submit_path do |f|
    %p
      = f.label :name, "Name"
      %br
      = f.text_field :name
    %p
      = f.label :email, "Email"
      %br
      = f.text_field :email
    %p
      = f.label :phone_number, "Phone Number"
      %br
      = f.text_field :phone_number
    %p
      = f.label :message, "Comment"
      %small (required)
      %br
      = f.text_area :message, :rows => "10"
    %p
      = f.submit "Submit", :class => "button"