!!! 1.1
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %meta{ "name" => "description", "content" => "Wonderful looking and tasting cakes for every occasion." }
    %meta{ "name" => "keywords", "content" => "cake, cake decorating, fondant, buttercream, joy, tasty, beautiful, cakes for sale" }
    / # TODO: make compatible with IE 8
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7" }
    %title
      == The Sweetest Joy - #{@page_title || "Joy in Every Bite"}

    = javascript_include_tag "jquery"
    = stylesheet_link_tag "screen", :media => "screen, projection"
    = stylesheet_link_tag "print",  :media => "print"

    /[if IE]
      = stylesheet_link_tag "ie"
      = stylesheet_link_tag "border-radius.htc"

  %body
    #container
      #header
        =link_to image_tag('../images/text/Title.png', :width => "400", :alt => "The Sweetest Joy"), root_path
        #header-list
          = link_to "Home", root_path, :id => "home"
          = link_to "Gallery", categories_path, :id => "gallery"
          = link_to "Flavors", page_path('flavors'), :id => "flavors"
          = link_to "Contact", contact_path, :id => "contact"
          = link_to "About", page_path('about'), :id => "about"
          = link_to "Blog", "http://sweetestjoycakes.blogspot.com/", :id => "blog", :target => "_blank"

      #content-wrapper
        #content
          = flash_notices
          = yield

      #footer
        #copy
          \&copy;
          The Sweetest Joy, 2010, All rights reserved.

    = render :partial => "layouts/analytics" if Rails.env == 'production'