!!! 1.1
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %meta{ "name" => "description", "content" => "Wonderful looking and tasting cakes for every occasion." }
    %meta{ "name" => "keywords", "content" => "cake, cake decorating, fondant, buttercream, joy, tasty, beautiful, cakes for sale" }
    / # TODO: make compatible with IE 8
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7" }
    %title
      == The Sweetest Joy - #{@page_title || "There's Joy in Every Bite"}

    = javascript_include_tag "jquery"
    = stylesheet_link_tag "screen", :media => "screen, projection"
    = stylesheet_link_tag "print",  :media => "print"

    /[if IE]
      = stylesheet_link_tag "ie"

  %body
    #container
      #header
        %h1
          =link_to "The Sweetest Joy", root_path
        #header-list
          %ul
            %li
              %strong= link_to "Home", root_path
            %li
              %strong= link_to "Gallery", categories_path
            %li
              %strong= link_to "Flavors", flavors_path
            %li
              %strong= link_to "Contact", contact_path
            %li
              %strong= link_to "About", about_path

      #content-wrapper
        #content
          = flash_notices
          = yield

      #footer
        #copy
          \&copy;
          The Sweetest Joy, 2010, All rights reserved.

    = render :partial => "layouts/analytics" if Rails.env == 'production'