!!! 1.1
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %meta{ "name" => "description", "content" => "" }
    %meta{ "name" => "keywords", "content" => "" }
    -# TODO: make compatible with IE 8
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7" }
    %title
      == Joy's Cakes - #{@page_title || "A Little Bit of Joy in Every Cake"}

    = javascript_include_tag "third_party/jquery-1.4.2.min"
    = stylesheet_link_tag "application"

  %body
    #wrapper
      #header
        %ul
          %li= link_to "Home", root_path
          %li= link_to "Gallery", gallery_path
          %li= link_to "Flavors", flavors_path
          %li= link_to "Contact", contact_path
          %li= link_to "About", about_path
      #content
        = flash_notices
        = yield

    #footer
      #copy
        \&copy;
        Joy's Cakes, 2010, All rights reserved.